<?xml version="1.0"?>
<config>
    <modules>
        <Wli_Deal>
            <version>0.1.0</version>
        </Wli_Deal>
    </modules>
    <frontend>
        <routers>
            <deal>
                <use>standard</use>
                <args>
                    <module>Wli_Deal</module>
                    <frontName>deal</frontName>
                </args>
            </deal>
        </routers>
        <layout>
            <updates>
                <deal>
                    <file>deal.xml</file>
                </deal>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <deal>
                <use>admin</use>
                <args>
                    <module>Wli_Deal</module>
                    <frontName>deal</frontName>
                </args>
            </deal>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <deal module="deal">
                <title>Ordertags</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="deal">
                        <title>Manage Order Tags</title>
                        <sort_order>10</sort_order>
                        <action>deal/adminhtml_deal</action>
                    </items>
                </children>
                 <children>
                    <wli_deal module="deal">
                        <title>Manage Deal</title>
                        <sort_order>11</sort_order>
                        <action>deal/adminhtml_deal</action>
                    </wli_deal>
                </children>
            </deal>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <deal>
                            <title>Ordertags Module</title>
                            <sort_order>200</sort_order>
                        </deal>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <deal>
                    <file>deal.xml</file>
                </deal>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <deal>
                <class>Wli_Deal_Model</class>
                <resourceModel>deal_mysql4</resourceModel>
            </deal>
            <deal_mysql4>
                <class>Wli_Deal_Model_Mysql4</class>
                <entities>
                    <deal>
                        <table>deal</table>
                    </deal>
                </entities>
            </deal_mysql4>
        </models>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <set_custom_save_order_wli>
                        <type>singleton</type>
                        <class>Wli_Deal_Model_Observer</class>
                        <method>saveOrderAction</method>
                    </set_custom_save_order_wli>
                </observers>
            </checkout_type_onepage_save_order>
            <sales_quote_collect_totals_after>
                <observers>
                    <set_custom_discount_wli>
                        <type>singleton</type>
                        <class>Wli_Deal_Model_Observer</class>
                        <method>setDiscount</method>
                    </set_custom_discount_wli>
                </observers>
            </sales_quote_collect_totals_after>
            
             <sales_quote_item_qty_set_after>
                <observers>
                    <wli_deal_check_quote_item_qty>
                        <type>singleton</type>
                        <class>Wli_Deal_Model_Observer</class>
                        <method>salesQuoteItemQtySetAfter</method>
                    </wli_deal_check_quote_item_qty>
                </observers>
            </sales_quote_item_qty_set_after>             
   		</events>
        <resources>
            <deal_setup>
                <setup>
                    <module>Wli_Deal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deal_setup>
            <deal_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </deal_write>
            <deal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deal_read>
        </resources>
        <blocks>
            <deal>
                <class>Wli_Deal_Block</class>
            </deal>
        </blocks>
        <helpers>
            <deal>
                <class>Wli_Deal_Helper</class>
            </deal>
        </helpers>
    </global>
</config>
